/*@import url('https://fonts.googleapis.com/css2?family=Candal&family=Nunito&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body{
    background-color:rgb(209, 209, 214);
    color: black;
    font-family: 'Montserrat Alternates', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

a :active{
    text-decoration: underline;
}

header{
    margin-left: 150px;
    display: flex;
    align-items: center;
    gap: 650px;
    color: gray;
    margin-bottom: 70px;
}

header nav{
    display: flex;
    gap: 20px;
}

/* ---- about ----*/
.about-container{
    width: auto;
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 20px;
}

#presentation{
    width: 700px;
    margin-left: 180px;
    font-size: larger;
}

#profilepic{
    width: 280px;
    border-radius: 100%;
}


