@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

body{
    /*background-color:rgb(209, 209, 214);*/
    background-color: rgb(252, 249, 240);
    color: black;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: larger;
}

a{
    color: black;
    text-decoration: none;
}

a :active{
    text-decoration: underline;
}

header{
    display: flex;
    align-items: center;
    gap: 50%;
    color: gray;
}

header nav{
    display: flex;
    gap: 20px;
}

header a{
    margin-left: 20%;
}

/* ---- about ----*/
.about-container{
    width: 900px;
    margin-left: 497px;
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 20px;
    margin-top: 90px;
    /*background-color:rgb(248, 248, 248);
    /*box-shadow: 2px 2px 4px 2px #ccc;*/
}

#presentation{
    width: 500px;
    margin-left: 40px;
    /*font-size: larger;*/
}

#profilepic{
    width: 280px;
    border-radius: 100%;
    box-shadow: 2px 2px 4px 2px #ccc;
}

/* ---- portfolio ----*/

.p-container{
    display: flex; 
    gap: 60px; 
    margin-left: 497px;
    width: 1000px;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 80px;
    border-bottom: 0.5px solid gray;
}

.p-container-c{
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    width: 1000px;
    padding-bottom: 80px;
    padding-top: 80px;
    border-bottom: 0.5px solid gray;
}

.p-container-test{
    display: flex; 
    margin-left: 497px;
    width: 1000px;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 80px;
    border-bottom: 0.5px solid gray;
}

.p-description{
    width: 400px;
}

.p-description-test{
    width: 500px;
    margin-left: -50px;
}

#explimg{
    display: flex;
    gap: 2px;
}

#expl3img{
    margin-bottom: -2px;
}

.transf{
    transition: transform 0.5s;
    z-index: 1;
    position: relative;
}

.transf:hover{
    transform: scale(1.7);
    z-index: 100;
}

.transf2{
    transition: transform 0.5s;
    z-index: 1;
    position: relative;
}

.transf2:hover{
    transform: scale(1.5);
    z-index: 100;
}

#checkingImg{
    border: solid 1px rgb(224, 224, 224);
}

#ecotr{
    display: flex;
    gap: 4px;
}

#ecotr img{
    border: 1px white solid;
}

.flyers{
    display: flex;
    gap: 10px;

}

#base {
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 0 49%);
    background-color: white;
    width: 350px;
    height: 150px;
    margin-left: 750px;
    margin-top: 150px;
    padding-top: 10px;
}

#cinfo{
    margin-left: 90px;
}

#cinfo p{
    margin: 13px;
}

#cinfo h3{
    margin-left: 42px;
}

#cinfo div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -20px;
}


@media screen and (max-width: 1700px) {
    .about-container, .p-container, .p-container-test{
        margin-left: 427px;
    }

    #base{
        margin-left: 700px;
    }

 }

 @media screen and (max-width: 1500px) {
    .about-container, .p-container, .p-container-test{
        margin-left: 267px;
    }

    header a{
        margin-left: 15%;
    }

    #base{
        margin-left: 550px;
    }
 }

 @media screen and (max-width: 1200px) {
    .about-container, .p-container, .p-container-test{
        margin-left: 140px;
    }

    header a{
        margin-left: 14%;
    }

    #base{
        margin-left: 410px;
    }
 }

 @media screen and (max-width: 700px) {
    .about-container{
        margin-left: 170px;
        width: 300px;
        flex-direction: column;
    }

    .p-container{
        margin-left: 60px;
    }

    .p-container-test{
        margin-left: 0px;
        flex-direction: column;
    }

    .p-description-test{
        width: 400px;
        margin-left: -470px;
    }


    #explBig{
        width: 200px;
        height: 250px;
        margin-left: -250px;
    }

    #expl3img{
        margin-bottom: 0px;
    }

    .p-description{
        width: 200px;
    }

    video{
        width: 300px;
    }

    #checkingImg{
        width: 300px;
    }

    #ecotr img{
        width: 100px;
    }

    .flyers img{
        width: 100px;
    }

    header a{
        margin-left: 7%;
    }

    #base{
        margin-left: 170px;
    }
 }

 @media screen and (max-width: 390px) {
     header{
         flex-direction: column;
         align-items: center;
     }

     header nav{
         flex-direction: column;
         gap: 10px;
     }

     header a{
         margin-left: 10px;
     }

    .about-container{
        flex-direction: column;
        margin-left: 40px;
        padding: 0px;
        width: 300px;
    }

    #presentation{
        width: 300px;
        margin-left: 0px;
        text-align: center;
    }

    .p-container{
        flex-direction: column;
        margin-left: 38px;
        width: 300px;
    }

    .p-description-test{
        width: 300px;
        margin-left: 40px;
    }

    .p-container-test{
        width: 300px;
        margin-left: 38px;
    }

    #explimg{
        flex-direction: column;
    }

    #explimg div{
        margin-left: 65px;
        flex-direction: column;
    }

    #explimg div img{
        width: 160px;
    }

    #explBig{
        margin-left: 45px;
    }

    #base{
        margin-left: 10px;
    }

    /*header a{
        margin-left: 14%;
    }*/
 }


