@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

body{
    /*background-color:rgb(209, 209, 214);*/
    background-color: white;
    color: black;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: larger;
}

a{
    color: black;
    text-decoration: none;
}

a :active{
    text-decoration: underline;
}

header{
    margin-left: 150px;
    display: flex;
    align-items: center;
    gap: 730px;
    color: gray;
}

header nav{
    display: flex;
    gap: 20px;
}

/* ---- about ----*/
.about-container{
    width: 900px;
    margin-left: 230px;
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 20px;
    margin-top: 90px;
    /*background-color:rgb(248, 248, 248);
    /*box-shadow: 2px 2px 4px 2px #ccc;*/
}

#presentation{
    width: 500px;
    margin-left: 40px;
    /*font-size: larger;*/
}

#profilepic{
    width: 280px;
    border-radius: 100%;
    box-shadow: 2px 2px 4px 2px #ccc;
}

/* ---- portfolio ----*/

.p-container{
    display: flex; 
    gap: 60px; 
    margin-left: 180px;
    width: 1000px;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 80px;
    border-bottom: 0.5px solid gray;
}

.p-container-c{
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    width: 1000px;
    padding-bottom: 80px;
    padding-top: 80px;
    border-bottom: 0.5px solid gray;
}

.p-container-test{
    display: flex; 
    margin-left: 180px;
    width: 1000px;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 80px;
    border-bottom: 0.5px solid gray;
}

.p-description{
    width: 400px;
}

.p-description-test{
    width: 500px;
    margin-left: -50px;
}

#explimg{
    display: flex;
    gap: 2px;
}

#expl3img{
    margin-bottom: -2px;
}

.transf{
    transition: transform 0.5s;
    z-index: 1;
    position: relative;
}

.transf:hover{
    transform: scale(1.7);
    z-index: 100;
}

.transf2{
    transition: transform 0.5s;
    z-index: 1;
    position: relative;
}

.transf2:hover{
    transform: scale(1.5);
    z-index: 100;
}

#checkingImg{
    border: solid 1px rgb(224, 224, 224);
}

#ecotr{
    display: flex;
    gap: 4px;
}

#ecotr img{
    border: 1px white solid;
}

.flyers{
    display: flex;
    gap: 10px;

}

#base {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0 49%);
    background-color: rgb(231, 231, 231);
    width: 400px;
    height: 150px;
    margin-left: 450px;
    margin-top: 100px;
    padding-top: 10px;
}

#cinfo{
    margin-left: 140px;
}

#cinfo p{
    margin: 13px;
}

#cinfo h3{
    margin-left: 42px;
}

#cinfo div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -20px;
}


