/*@import url('https://fonts.googleapis.com/css2?family=Candal&family=Nunito&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body{
    background-color:rgb(209, 209, 214);
    color: black;
    font-family: 'Montserrat Alternates', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

a :active{
    text-decoration: underline;
}

header{
    margin-left: 150px;
    display: flex;
    align-items: center;
    gap: 650px;
    color: gray;
    margin-bottom: 20px;
}

header nav{
    display: flex;
    gap: 20px;
}

/* ---- about ----*/
.about-container{
    width: auto;
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 20px;
}

#presentation{
    width: 700px;
    margin-left: 180px;
    font-size: larger;
}

#profilepic{
    width: 280px;
    border-radius: 100%;
}

/* ---- portfolio ----*/

.p-container{
    display: flex; 
    gap: 60px; 
    margin-left: 180px;
    width: 1000px;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 80px;
    border-bottom: 0.5px solid gray;
}

.p-description{
    width: 400px;
}

#explimg{
    display: flex;
    gap: 2px;
}

#expl3img{
    margin-bottom: -2px;
}

.transf{
    transition: transform 0.5s;
    z-index: 1;
    position: relative;
}

.transf:hover{
    transform: scale(1.7);
    z-index: 100;
}

.transf2{
    transition: transform 0.5s;
    z-index: 1;
    position: relative;
}

.transf2:hover{
    transform: scale(1.5);
    z-index: 100;
}

#ecotr{
    display: flex;
    gap: 4px;
}

#ecotr img{
    border: 1px white solid;
}


